header.cd-main-header.animate-search
    .cd-logo
        a(href='/')
            img(src='img/logo_colored.png', alt='Logo')
    nav.cd-main-nav-wrapper
        //a.cd-search-trigger.cd-text-replace(href='#search') Search
        ul.cd-main-nav.cl-effect-4
            li.selected-nav
                a(href='#about') About
            li
                a(href='#agenda') Agenda
            if _speakersData.length
                li
                    a(href='#speakers') Speakers
            li
                a(href='#buyTicket') Buy a ticket
            if _partnerData.length
                li
                    a(href='#partners') Partners
            li
                a(href='#conference') Conference 2011
            li
                a(href='#contacts') Contacts
    a.cd-nav-trigger.cd-text-replace(href='#0')
        | Menu
        span


#search.cd-main-search
    form
        //input(type='search', placeholder='Search...')
        .cd-select
            span in
            | &nbsp;
            select(name='select-category')
                option(value='all-categories') all Categories
                option(value='category1') Category 1
                option(value='category2') Category 2
            span.selected-value all Categories
    .cd-search-suggestions
        .news
            h3 News
            ul
                li
                    a.image-wrapper(href='#0')
                        img(src='img/placeholder.png', alt='News image')
                    h4
                        a.cd-nowrap(href='#0') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    time(datetime='2016-01-12') Feb 03, 2016
        .quick-links
            h3 Quick Links
            ul
                li
                    a(href='#about') About
                li
                    a(href='#agenda') Agenda
                li
                    a(href='#speakers') Speakers
                li
                    a(href='#partners') Partners
                li
                    a(href='#contacts') Contact us
        // .quick-links
    // .cd-search-suggestions
    a.close.cd-text-replace(href='#0') Close Form
.cd-cover-layer
