script.
    $('.toggle-menu-btn').click(function ($event) {
        $event.stopPropagation();
        $("#wrapper").toggleClass("toggled");
    });
    function initMenu() {
        $('#myAccordion li a').on( "click", function () {
            $('.collapse.in').collapse('hide');
        });
    }
    $(document).ready(function () {
        initMenu();
    });
#sidebar-wrapper
    ul.sidebar-nav#myAccordion
        li.sidebar-brand
            a
                i.fa.fa-user
                |   #{username}
        li(class=(active_menu === 'dashboard' ? 'activeMenu' : ''))
            span.selected
            a(href="/control/admin/dashboard")
                i.fa.fa-dashboard
                span    Statistics
        li(class=(active_menu === 'subscribers' ? 'activeMenu' : ''))
            span.selected
            a(href="/control/admin/subscribers")
                i.fa.fa-address-book-o
                span    Subscribers
        li(class=(active_menu === 'about' ? 'activeMenu' : ''))
            span.selected
            a(href="/control/admin/about")
                i.fa.fa-id-card-o
                span    About text
        li(class=(active_menu === 'slider' ? 'activeMenu' : ''), data-toggle="collapse",data-target="#_slider", data-parent="#myAccordion")
            span.selected
            a
                i.fa.fa-file-image-o
                span Image slider
                span.pull-right-container
                    i.fa.fa-angle-left.pull-right
            ul#_slider.sub-menu.collapse
                li
                    a(href="/control/admin/slider")
                        i.fa.fa-angle-double-right
                        |  View
                li
                    a(href="/control/admin/slider/add")
                        i.fa.fa-angle-double-right
                        |  Add
        li(class=(active_menu === 'agenda' ? 'activeMenu' : ''), data-toggle="collapse",data-target="#_agenda", data-parent="#myAccordion")
            span.selected
            a
                i.fa.fa-calendar-check-o
                span Agenda
                span.pull-right-container
                    i.fa.fa-angle-left.pull-right
            ul#_agenda.sub-menu.collapse
                li
                    a(href="/control/admin/agenda")
                        i.fa.fa-angle-double-right
                        |  View
                li
                    a(href="/control/admin/agenda/add")
                        i.fa.fa-angle-double-right
                        |  Add
        li(class=(active_menu === 'partners' ? 'activeMenu' : ''), data-toggle="collapse",data-target="#_partners", data-parent="#myAccordion")
            span.selected
            a
                i.fa.fa-briefcase
                span Partners
                span.pull-right-container
                    i.fa.fa-angle-left.pull-right
            ul#_partners.sub-menu.collapse
                li
                    a(href="/control/admin/partners")
                        i.fa.fa-angle-double-right
                        |  View
                li
                    a(href="/control/admin/partners/add")
                        i.fa.fa-angle-double-right
                        |  Add
        li(class=(active_menu === 'speakers' ? 'activeMenu' : ''), data-toggle="collapse",data-target="#_speaker", data-parent="#myAccordion")
            span.selected
            a
                i.fa.fa-users
                span Speakers
                span.pull-right-container
                    i.fa.fa-angle-left.pull-right
            ul#_speaker.sub-menu.collapse
                li
                    a(href="/control/admin/speaker")
                        i.fa.fa-angle-double-right
                        |  View
                li
                    a(href="/control/admin/speaker/add")
                        i.fa.fa-angle-double-right
                        |  Add