extends ../layouts/layout-error

block content
    section(style="padding:0")
        .container
            .row
                .page-not-found
                    h1
                        a.link.link--kukuri(data-letters="404") 404
                    h2 PAGE NOT FOUND