extends ../../layouts/admin_layout

block specific_stylesheets
    link(rel='stylesheet', href='/css/admin.css')

block content
    include ../../static/_admin_header
    #wrapper
        include ../../static/_sidebar
        #page-content-wrapper
            .alert-control(style='display: none;')
                .alert
                    a.close(href="#",data-dismiss="alert",aria-label="close") &times;
                    strong


        .row
        //    .col-xs-12
        //        h2.adm-page-name Armenia history content
        //        .alert-control(style='display: none;')
        //            .alert.alert-success
        //                a.close(href="#",data-dismiss="alert",aria-label="close") &times;
        //                strong Success!
        //                    | Successful updated
        //    .col-xs-12
        //    .tabbable-panel
        //        .tabbable-line
        //            ul.nav.nav-tabs
        //                li.active
        //                    a(href="#tab_his_eng",data-toggle="tab") ENG
        //                li
        //                    a(href="#tab_his_arm",data-toggle="tab") ARM
        //            .tab-content(style='display:table;width: 100%;')
        //                .tab-pane.active( id="tab_his_eng" )
        //                    form(action='/admin/history/armenia', method='post')
        //                        .col-xs-12(style="margin-bottom:25px")
        //                            button(type="submit").btn.btn-success.pull-right SAVE
        //                            a(href="/admin/history/armenia").btn.btn-info.pull-right(style="margin-right: 15px") RESET
        //                        .col-xs-12(style="padding:0")
        //                            .tabbable-panel
        //                                input(type="hidden",name="lang",value="eng")
        //                                textarea(name="arm_his",id="arm_his_eng",rows="50",cols="100")= content.eng
        //                .tab-pane( id="tab_his_arm" )
        //                    form(action='/admin/history/armenia', method='post')
        //                        .col-xs-12(style="margin-bottom:25px")
        //                            button(type="submit").btn.btn-success.pull-right SAVE
        //                            a(href="/admin/history/armenia").btn.btn-info.pull-right(style="margin-right: 15px") RESET
        //                        .col-xs-12(style="padding:0")
        //                            .tabbable-panel
        //                                input(type="hidden",name="lang",value="arm")
        //                                textarea(name="arm_his",id="arm_his_arm",rows="50",cols="100")= content.arm
        //script.
        //    $(document).ready(function(){
        //        CKEDITOR.replace('arm_his_eng', {
        //            height: '500px'
        //        });
        //        CKEDITOR.replace('arm_his_arm', {
        //            height: '500px'
        //        });
        //    });

block specific_scripts
    //script(type="text/javascript", src='//cdn.ckeditor.com/4.5.7/full/ckeditor.js')