div(style="background:#fff")#about
    .container
        div
            h1 Things to know
                br
                |   about brands and business conference 2016
            hr
            if _about.text1.length != 0
                p.simple-text= _about.text1
            if _about.text2.length != 0
                p.simple-text= _about.text2

            .row
                .clearfix
                if _about.text3.length != 0
                    br
                    h3= _about.text3
                if _about.text4.length != 0
                    p.simple-text= _about.text4

//
// part 3
div._giftBl2
    .bg-overlay0
        .container
            .row
                .col-xs-12.col-md-4
                    .overtext-control
                        p.quote-text-info Conference
                        p.quote-text-number Duration -10:00 – 19:00
                        hr
                        p.quote-text-info Number of participants
                        p.quote-text-number Tbilisi 300 - 400 | Yerevan 200 – 250
                .col-xs-12.col-md-4
                    .overtext-control
                        p.quote-text-info Panel sessions
                        p.quote-text-number Duration 1-1, 5 hour
                        hr
                        p.quote-text-info Number of speakers
                        p.quote-text-number 3-5
                .col-xs-12.col-md-4
                    .overtext-control
                        p.quote-text-info Workshops
                        p.quote-text-number Duration 1-1, 5 hour
                        hr
                        p.quote-text-info Number of participants
                        p.quote-text-number 50


//.cd-modal-action
//    a.btn(data-type="modal-trigger") More information
//    .cd-modal-bg
