div#agenda
    .container
        div
            h1.txt-shadow Agenda
                br
                |   2016
            hr
            .row
                section.cd-horizontal-timeline
                    .timeline
                        .events-wrapper
                            .events-clearfix
                            .events
                                ol
                                    li
                                        a.selectedAgenda(href='#0', data-date='24/11/2016')
                                            span(style="font-size: 20px;") 24
                                            br
                                            |   Nov
                                    li
                                        a(href='#0', data-date='26/11/2016')
                                            span(style="font-size: 20px;") 26
                                            br
                                            |   Nov
                                span.filling-line(aria-hidden='true')
                        ul.cd-timeline-navigation
                            li
                                a.prev.inactive(href='#0') Prev
                            li
                                a.next(href='#0') Next
                    .events-content
                        ol
                            li.selectedAgenda(data-date='24/11/2016')
                                h2 Tbilisi, Georgia
                                .row.agenda-control.break-agenda
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 9:30 - 10:00
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Registration
                                        .row
                                            .col-xs-6
                                                //p.cilabs-schedule-speaker-name
                                .row.agenda-control(data-toggle="collapse",data-target="#descr1")
                                    .bordered-left(style="border-left-color:#1288df")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 10:00 - 10:15
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Greeting Speeches
                                        #descr1.collapse
                                            .row
                                                .col-xs-12
                                                    span.cilabs-schedule-speaker-name  Haykuhi Taksildaryan
                                .row.agenda-control(data-toggle="collapse",data-target="#descr2")
                                    .bordered-left(style="border-left-color:#e00018")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 10:15 - 11:15
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Brands &amp; Trends
                                        #descr2.collapse
                                            .cilabs-schedule-descr.col-xs-12
                                                |   Brands &amp; Trends
                                                |   New challenges and tools
                                                |   Transformation of attitude
                                                |   Advanced technologies and new demands
                                                |   New era in design: Visual Copy Writing
                                                |   Globalization or Glocalization
                                            .row
                                                .col-xs-6
                                .row.agenda-control.break-agenda
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 11:15 - 11:30
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Coffee Break

                                .row.agenda-control(data-toggle="collapse",data-target="#descr4")
                                    .bordered-left(style="border-left-color:#fd62fd")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 11:30 - 12:30
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Brands &amp; Fashion
                                        #descr4.collapse
                                            .cilabs-schedule-descr.col-xs-12
                                                |   Made in Armenia/Georgia – competitive brand creation
                                                |   Young brands: main rules of establishment
                                                |   Global trends in industry
                                                |   New technologies for promotion
                                                |   Impact of globalization processes on Fashion industry
                                            .row
                                                .col-xs-6
                                                    //p.cilabs-schedule-speaker-name
                                .row.agenda-control(data-toggle="collapse",data-target="#descr5")
                                    .bordered-left(style="border-left-color:#febe00")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 12:30 - 13:30
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Brands &amp; Territory
                                        #descr5.collapse
                                            .cilabs-schedule-descr.col-xs-12
                                                |   What is territorial branding
                                                |   Technologies for implementation: how to take project live
                                                |   Government and business as main stakeholders of this process
                                                |   Source of energy for strong brand.
                                                |   Brand components of industry
                                            .row
                                                .col-xs-6
                                                    //p.cilabs-schedule-speaker-name
                                .row.agenda-control.break-agenda
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 13:30 - 14:30
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Lunch
                                .row.agenda-control(data-toggle="collapse",data-target="#descr6")
                                    .bordered-left(style="border-left-color:#a064e6")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 14:30 - 15:30
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Brands &amp; Finance
                                        #descr6.collapse
                                            .cilabs-schedule-descr.col-xs-12
                                                |   Consumer consumption evolution
                                                |   New models of behavior with the financial
                                                |   institutions/bank
                                                |   Communication technologies
                                            .row
                                                .col-xs-6
                                                    //p.cilabs-schedule-speaker-name
                                .row.agenda-control(data-toggle="collapse",data-target="#descr7")
                                    .bordered-left(style="border-left-color:#64e1ff")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 15:30 - 16:30
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Brands &amp; Digital
                                        #descr7.collapse
                                            .cilabs-schedule-descr.col-xs-12
                                                |   LiveCycle of a brand in digital world
                                                |   Startup branding
                                            .row
                                                .col-xs-6
                                                    //p.cilabs-schedule-speaker-name
                                .row.agenda-control.break-agenda
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 16:30 - 16:45
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Coffee Break
                                .row.agenda-control(data-toggle="collapse",data-target="#descr8")
                                    .bordered-left(style="border-left-color:#64e1ff")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 16:45 - 18:15
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Brands &amp; Digital
                                        #descr8.collapse
                                            .cilabs-schedule-descr.col-xs-12.col-md-6
                                                |   Territory of Innovation brand: technologies of demand stimulation
                                            .row
                                                .col-xs-6
                                                    //p.cilabs-schedule-speaker-name
                                .row.agenda-control(data-toggle="collapse",data-target="#descr9")
                                    .bordered-left(style="border-left-color:#00db13")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 18:15 - 19:15
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Brands &amp; HR
                                        #descr9.collapse
                                            .cilabs-schedule-descr.col-xs-12
                                                |   HR brand: Creation of unique creative concepts
                                                |   Technologies that affect employer brand
                                                |   Infernal HR-brand: impact on employee
                                                |   Successful HR cases from market leaders
                                            .row
                                                .col-xs-12
                                                    span.cilabs-schedule-speaker-name  Grigor Badalyan/Technodynamica

                            li(data-date='26/11/2016')
                                h2 Yerevan, Armenia
                                .row.agenda-control.break-agenda
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 9:30 - 10:00
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Registration
                                        .row
                                            .col-xs-6
                                                //p.cilabs-schedule-speaker-name
                                .row.agenda-control(data-toggle="collapse",data-target="#descrA1")
                                    .bordered-left(style="border-left-color:#1288df")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 10:00 - 10:15
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Greeting Speeches
                                        #descrA1.collapse
                                            .row
                                                .col-xs-12
                                                    span.cilabs-schedule-speaker-name  Haykuhi Taksildaryan
                                .row.agenda-control(data-toggle="collapse",data-target="#descrA2")
                                    .bordered-left(style="border-left-color:#e00018")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 10:15 - 11:15
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Brands &amp; Trends
                                        #descrA2.collapse
                                            .cilabs-schedule-descr.col-xs-12
                                                |   Brands &amp; Trends
                                                |   New challenges and tools
                                                |   Transformation of attitude
                                                |   Advanced technologies and new demands
                                                |   New era in design: Visual Copy Writing
                                                |   Globalization or Glocalization
                                            .row
                                                .col-xs-6
                                .row.agenda-control.break-agenda
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 11:15 - 11:30
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Coffee Break

                                .row.agenda-control(data-toggle="collapse",data-target="#descrA4")
                                    .bordered-left(style="border-left-color:#fd62fd")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 11:30 - 12:30
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Brands &amp; Fashion
                                        #descrA4.collapse
                                            .cilabs-schedule-descr.col-xs-12
                                                |   Made in Armenia/Georgia – competitive brand creation
                                                |   Young brands: main rules of establishment
                                                |   Global trends in industry
                                                |   New technologies for promotion
                                                |   Impact of globalization processes on Fashion industry
                                            .row
                                                .col-xs-6
                                                    //p.cilabs-schedule-speaker-name
                                .row.agenda-control(data-toggle="collapse",data-target="#descrA5")
                                    .bordered-left(style="border-left-color:#febe00")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 12:30 - 13:30
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Brands &amp; Territory
                                        #descrA5.collapse
                                            .cilabs-schedule-descr.col-xs-12
                                                |   What is territorial branding
                                                |   Technologies for implementation: how to take project live
                                                |   Government and business as main stakeholders of this process
                                                |   Source of energy for strong brand.
                                                |   Brand components of industry
                                            .row
                                                .col-xs-6
                                                    //p.cilabs-schedule-speaker-name
                                .row.agenda-control.break-agenda
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 13:30 - 14:30
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Lunch
                                .row.agenda-control(data-toggle="collapse",data-target="#descrA6")
                                    .bordered-left(style="border-left-color:#a064e6")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 14:30 - 15:30
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Brands &amp; Finance
                                        #descrA6.collapse
                                            .cilabs-schedule-descr.col-xs-12
                                                |   Consumer consumption evolution
                                                |   New models of behavior with the financial
                                                |   institutions/bank
                                                |   Communication technologies
                                            .row
                                                .col-xs-6
                                                    //p.cilabs-schedule-speaker-name
                                .row.agenda-control(data-toggle="collapse",data-target="#descrA7")
                                    .bordered-left(style="border-left-color:#64e1ff")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 15:30 - 16:30
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Brands &amp; Digital
                                        #descrA7.collapse
                                            .cilabs-schedule-descr.col-xs-12
                                                |   LiveCycle of a brand in digital world
                                                |   Startup branding
                                            .row
                                                .col-xs-6
                                                    //p.cilabs-schedule-speaker-name
                                .row.agenda-control.break-agenda
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 16:30 - 16:45
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Coffee Break
                                .row.agenda-control(data-toggle="collapse",data-target="#descrA8")
                                    .bordered-left(style="border-left-color:#64e1ff")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 16:45 - 18:15
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Brands &amp; Digital
                                        #descrA8.collapse
                                            .cilabs-schedule-descr.col-xs-12.col-md-6
                                                |   Territory of Innovation brand: technologies of demand stimulation
                                            .row
                                                .col-xs-6
                                                    //p.cilabs-schedule-speaker-name
                                .row.agenda-control(data-toggle="collapse",data-target="#descrA9")
                                    .bordered-left(style="border-left-color:#00db13")
                                    .col-xs-12.col-md-4.date-schedule
                                        span.cilabs-schedule-day.text-nowrap 18:15 - 19:15
                                        span.cilabs-schedule-time Nov 24
                                        span.mob.stage-btn.Night.Summit
                                    .col-xs-12.col-md-8
                                        .cilabs-schedule-title.clearfix Brands &amp; HR
                                        #descrA9.collapse
                                            .cilabs-schedule-descr.col-xs-12
                                                |   HR brand: Creation of unique creative concepts
                                                |   Technologies that affect employer brand
                                                |   Infernal HR-brand: impact on employee
                                                |   Successful HR cases from market leaders
                                            .row
                                                .col-xs-12
                                                    span.cilabs-schedule-speaker-name  Grigor Badalyan/Technodynamica
                                
