div#buyTicket
    .container
        div
            .row
                h1 Buy a ticket
                hr
            .row
                .cd-pricing-container.cd-has-margins
                    .cd-pricing-switcher
                        p.fieldset
                            input#monthly-2(type='radio', name='duration-2', value='monthly', checked='')
                            label(for='monthly-2') Armenia
                            input#yearly-2(type='radio', name='duration-2', value='yearly')
                            label(for='yearly-2') Georgia
                            span.cd-switch
                    ul.cd-pricing-list.cd-bounce-invert
                        li
                            ul.cd-pricing-wrapper
                                li.is-visible(data-type='monthly')
                                    header.cd-pricing-header
                                        h2 Regular tickets
                                        .cd-price.text-center
                                            span.cd-value
                                                i.fa.fa-ticket.fa-rotate-45
                                    .cd-pricing-body
                                        ul.cd-pricing-features
                                            li
                                                em EARLY BIRD: book your ticket from October 31 st to November 11 th
                                                p  AMD 38000
                                            li
                                                em REGULAR: book your ticket from November 12 th to November 26 th
                                                p  AMD 48000
                                            li.hide-big
                                                a.btn.btn-default.ticketType(href='#0',data-ticket="REGULAR TICKETS",data-toggle="modal",data-target="#myModal") Purchase tickets
                                        footer.cd-pricing-footer
                                            a.cd-selectf.ticketType(href='#0',data-ticket="REGULAR TICKETS",data-toggle="modal",data-target="#myModal") Purchase tickets
                                li.is-hidden(data-type='yearly')
                                    header.cd-pricing-header
                                        h2 Regular tickets
                                        .cd-price.text-center
                                            span.cd-value
                                                i.fa.fa-ticket.fa-rotate-45
                                    .cd-pricing-body
                                        ul.cd-pricing-features
                                            li
                                                em EARLY BIRD: book your ticket from October 31 st to November 11 th
                                                p  150 GEL
                                            li
                                                em REGULAR: book your ticket from November 12 th to November 24 th
                                                p  180 GEL
                                            li.hide-big
                                                a.btn.btn-default.ticketType(href='https://tkt.ge/ka/event/50777/preview/2d5dee97-6ceb-40e9-ad04-9f5f25f9b58b', target="_blank") Purchase tickets

                                        footer.cd-pricing-footer
                                            a.cd-selectf.ticketType(href='https://tkt.ge/ka/event/50777/preview/2d5dee97-6ceb-40e9-ad04-9f5f25f9b58b', target="_blank") Purchase tickets
                        li.cd-popular
                            ul.cd-pricing-wrapper
                                li.is-visible(data-type='monthly')
                                    header.cd-pricing-header
                                        h2 Specials
                                        .cd-price.text-center
                                            span.cd-value
                                                i.fa.fa-ticket.fa-rotate-45
                                    .cd-pricing-body
                                        ul.cd-pricing-features
                                            li
                                                em Student discount: 30% off single ticket
                                            li
                                                em Participation to Gala Dinner: additional
                                                p 25000 AMD
                                            li.hide-big
                                                a.btn.btn-default.ticketType(href='#0',data-ticket="REGULAR TICKETS",data-toggle="modal",data-target="#myModal") Purchase tickets
                                    footer.cd-pricing-footer
                                        a.cd-selectf.ticketType(href='#0',data-ticket="SPECIALS",data-toggle="modal",data-target="#myModal") Purchase tickets
                                li.is-hidden(data-type='yearly')
                                    header.cd-pricing-header
                                        h2 Specials
                                        .cd-price.text-center
                                            span.cd-value
                                                i.fa.fa-ticket.fa-rotate-45
                                    .cd-pricing-body
                                        ul.cd-pricing-features
                                            li
                                                em Student discount: 30% off single ticket
                                            li
                                                em Participation to Gala Dinner: additional
                                                p 100 GEL
                                            li.hide-big
                                                a.btn.btn-default.ticketType(href='https://tkt.ge/ka/event/50777/preview/2d5dee97-6ceb-40e9-ad04-9f5f25f9b58b', target="_blank") Purchase tickets
                                    footer.cd-pricing-footer
                                        a.cd-selectf(href='https://tkt.ge/ka/event/50777/preview/2d5dee97-6ceb-40e9-ad04-9f5f25f9b58b', target="_blank") Purchase tickets
                        li
                            ul.cd-pricing-wrapper
                                li.is-visible(data-type='monthly')
                                    header.cd-pricing-header
                                        h2 Corporate Packages
                                        .cd-price.text-center
                                            span.cd-value
                                                i.fa.fa-ticket.fa-rotate-45
                                    .cd-pricing-body
                                        ul.cd-pricing-features
                                            li
                                                em 2-4 members: 5% discount off total sum
                                            li
                                                em 5 and more members: 10% discount off total sum
                                            li.hide-big
                                                a.btn.btn-default.ticketType(href='#0',data-ticket="REGULAR TICKETS",data-toggle="modal",data-target="#myModal") Purchase tickets
                                    footer.cd-pricing-footer
                                        a.cd-selectf.ticketType(href='#0',data-ticket="CORPORATE PACKAGES",data-toggle="modal",data-target="#myModal") Purchase tickets
                                li.is-hidden(data-type='yearly')
                                    header.cd-pricing-header
                                        h2 Corporate Packages
                                        .cd-price.text-center
                                            span.cd-value
                                                i.fa.fa-ticket.fa-rotate-45
                                    .cd-pricing-body
                                        ul.cd-pricing-features
                                            li
                                                em 2-4 members: 5% discount off total sum
                                            li
                                                em 5 and more members: 10% discount off total sum
                                            li.hide-big
                                                a.btn.btn-default.ticketType(href='https://tkt.ge/ka/event/50777/preview/2d5dee97-6ceb-40e9-ad04-9f5f25f9b58b', target="_blank") Purchase tickets
                                    footer.cd-pricing-footer
                                        a.cd-selectf(href='https://tkt.ge/ka/event/50777/preview/2d5dee97-6ceb-40e9-ad04-9f5f25f9b58b', target="_blank") Purchase tickets