div#conference
    .container
        div#bb2011
            h1.txt-shadow Brands &amp; Business Conference 2011
            hr
            p.simple-text
                |   In 2011, Maeutica initiated and organized the first international Brands and Business
                |   conference in Yerevan. Brand consultants and training specialists in branding were
                |   invited from the United Kingdom, Russia and Israel, among who were
            .clearfix
            .row(style="margin-top:25px")
                .col-lg-4.col-md-4.col-xs-12.partners-gallery
                    .item
                        figure
                            a.fancybox
                                img(alt='Yonathan Dominitiz', src='/img/avatar1.png')
                        figcaption
                            h4.title Yonathan Dominitiz
                            span.sub-title
                                strong Founder
                            span.sub-text
                                strong Mindscapes
                            span.sub-title
                                strong Israel, Jerusalem
                .col-lg-4.col-md-4.col-xs-12.partners-gallery
                    .item
                        figure
                            a.fancybox
                                img(alt='Alexander Grand', src='/img/avatar2.png')
                        figcaption
                            h4.title Alexander Grand
                            span.sub-title
                                strong Director of strategic branding
                            span.sub-text
                                strong INSTID
                            span.sub-title
                                strong London, United Kingdom
                .col-lg-4.col-md-4.col-xs-12.partners-gallery
                    .item
                        figure
                            a.fancybox
                                img(alt='Grigor Badalyan', src='/img/avatar4.png')
                        figcaption
                            h4.title Grigor Badalyan
                            span.sub-title
                                strong Director of Brand Consulting
                            span.sub-text
                                strong Apostol
                            span.sub-title
                                strong Moscow, Russia

                .col-lg-3.col-md-4.col-xs-12.partners-gallery.col-lg-offset-2
                    .item
                        figure
                            a.fancybox
                                img(alt='Jeremy Hildreth', src='/img/avatar3.png')
                        figcaption
                            h4.title Jeremy Hildreth
                            span.sub-title
                                strong Regional Branding Director
                            span.sub-text
                                strong INSTID
                            span.sub-title
                                strong London, United Kingdom
                .col-lg-3.col-md-4.col-xs-12.partners-gallery.col-lg-offset-2
                    .item
                        figure
                            a.fancybox
                                img(alt='Sahil Sachdev', src='/img/avatar5.png')
                        figcaption
                            h4.title Sahil Sachdev
                            span.sub-title
                                strong Senior Specialist of strategic department
                            span.sub-text
                                strong Saffron Brand Consultancy
                            span.sub-title
                                strong London, United Kingdom

div
    img(src="img/Conference-2011.png")