div(style="background:#fff;padding-bottom: 35px")
    .container
        div
            h1 Brands &amp; business
                br
                | Why organize and why attend?
            hr
            .row.quick-thing.margin-40
                img.quick-thing.img-circle(alt='Sean  Rad', src='http://placehold.it/400x400')
                p.text-center Haykuhi Taksildaryan
                span.sub-title
                    strong CEO
            .row(style="margin-top:25px")
                .col-xs-12
                    p.simple-text
                        | The world is changing fast. New technologies, companies, influencers and trends
                        | emerge every month. Naturally, branding is affected by those changes more than any
                        | other industry. In fact the change is so dramatic, that the moment a new book or study
                        | is published it is often regarded outdated.
                    p.simple-text
                        |   So how can a specialist stay in tune? Follow articles, portals, publications, social trends.
                        |   Yes, all of that. Yet the best way to gain a good insight on everything that’s currently
                        |   going on in branding is to learn from the best: international experts, leading team
                        |   members of best agencies all over the world, people responsible for creating
                        |   unforgettable brands, ads and campaigns, those who shape the modern society and
                        |   have a deep understanding of current and future trends.
