footer#contacts
    .container
        .row
            .col-xs-12.col-md-4.text-left
                h3 Contacts:
                p Armenia
                p
                    a(title="Contact me!")
                        span   +(374 55) 07-23-37
                p
                    a(href="mailto:info@brandsandbusiness.am" title="Contact me!")
                        span   info@brandsandbusiness.am
                a( href="https://www.facebook.com/BrandsandBusinessConference/?fref=ts" target="_blank" title="Facebook")
                    h3.no-mrg
                        |   Visit:
                        i.fa.fa-facebook-square
                br

            .col-xs-12.col-md-4.text-left
                h3 &nbsp;
                p Georgia
                p
                    a(title="Contact me!")
                        span   +(995) 558-98-98-48
                p
                    a(href="mailto:info@brandsandbusiness.am" title="Contact me!")
                        span   info@brandsandbusiness.am
                a( href="https://www.facebook.com/BrandsandBusinessConferanceTbilisi/" target="_blank" title="Facebook")
                    h3.no-mrg
                        |   Visit:
                        i.fa.fa-facebook-square
                br

            .col-xs-12.col-md-4.text-left
                h3 Subscribe to our news:
                p For getting additional information concerning upcoming events, please leave your mail below
                .subscribe-form
                    label(for="_emailS",style="margin-bottom: 5px;") Your e-mail
                    input.form-control#_emailS(type="email", placeholder="example@example.com")
                    p._err._errorEmail
                    .clearfix
                    input#_subscribe( value="SEND" class="btn btn-primary pull-right")
                .subscribe-form-success
                    h2 Thank you for subscribing!
                .clearfix
            .col-xs-12
                a.privace.text-left(data-toggle="modal",data-target="#privacy",style="float:left") Privacy policy


div
    p.text-center.mrg5 © 2016 Maeutica. BRANDING AGENCY. ALL RIGHTS RESERVED.
