footer#contacts
    .container
        .row
            .col-xs-12.col-md-4.text-left
                h3 Contact:
                p Have a question or feedback? Contact!
                p
                    a(title="Contact me!")
                        span   +(374 55) 07-23-37
                p
                    a(href="mailto:b.gegham@gmail.com" title="Contact me!")
                        span   b.gegham@gmail.com
                h3.no-mrg Visit:
                    a( href="https://www.facebook.com/Maeutica" target="_blank" title="Facebook")
                        i.fa.fa-facebook-square

            .col-xs-12.col-md-8.text-left
                h3 To purchase tickets please submit this form:
                p Have a question or feedback? Contact!
                .contact-form
                    label(for="fullname") Your full name
                    input.form-control#fullname(type="text", placeholder="Full name")
                    p.errorFullname
                    .clearfix
                    label(for="email") Your contact e-mail
                    input.form-control#email(type="email", placeholder="example@example.com")
                    p.errorEmail
                    .clearfix
                    input#contactUsSubmit( value="SEND" class="btn btn-primary pull-right")
                .contact-form-success
                    h2 Great! lorem lorem lorem
                .clearfix


div
    p.text-center.mrg5 © 2016 Maeutica. BRANDING AGENCY. ALL RIGHTS RESERVED.
