div._giftBl1
    .bg-overlay50
        .container
            .row.text-center
                i.fa.fa-quote-right.fa-5x
            h2 The answer is always in the entire story, not a piece of it.
            br
            h3 Jim Harrison