div._giftBl1
    .bg-overlay50
        .container
            .row.text-center
                i.fa.fa-quote-right.fa-5x
            h2 Work smart, sincere, honest and always pray
                br
                |   that is the key of our Great Products
            br
            h3 Mugiwara Kiwolen