.cd-modal
    .cd-modal-content
        p Brands &amp; Business is a conference for professionals and companies that covers present challenges, opportunities and technologies in branding. In its second year, the conference aims to become one of the biggest and most significant events in the region. This year we are planning to bring together around 60 specialists and 600 participants in Yerevan and Tbilisi.
a.cd-modal-close(href='#0') Close


