extends ../../layouts/index_layout

block content
    include ../../static/_header

    main.cd-main-content.cd-section

        include _slider

        section.content-wrapper
            .content-center.nav-section

                include _about
                include _moreInfo
                .clearfix

                include _agenda
                .clearfix

                include _giftBl1
                .clearfix

                include _speakers
                .clearfix

                include _attendance
                .clearfix

                include _creatorQote
                .clearfix

                include _partners
                .clearfix

                include _giftBl1
                .clearfix

                include _bb2011
                .clearfix

                include _footer
                .clearfix

                .scrollToTop
                    i.fa.fa-chevron-up
